charset-normalizer==2.0.12
dataclasses==0.8
datasets==1.18.3
filelock==3.5.0
huggingface-hub==0.4.0
matplotlib==3.5
numpy==1.21.2
regex==2022.1.18
sacremoses==0.0.46
scikit-learn==1.0.2
scipy==1.7.3
setuptools==59.8.0
tokenizers==0.10.3
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
tqdm==4.62.3
transformers==4.16.2
typing_extensions==4.1.1
urllib3==1.26.8
wheel==0.37.1